@import 'tools/styles/flex';

.user {
    .cardContainer {
        @include dFlex();
        @include flexRow();
        @include justifyContentCenter();

        .card {
            width: 400px;

            .buttonContainer {
                @include dFlex();
                @include flexRow();
                @include justifyContentCenter();

                margin-top: 20px;
            }
        }
    }
}
