@import 'styles/constants';
@import 'tools/styles/flex';

.header {
    @include dFlex();
    @include flexRow();
    @include justifyContentBetween();
    @include alignItemsCenter();

    .title {
        color: $white;

        margin-bottom: 0;
    }
}
