@import 'tools/styles/flex';
@import 'tools/styles/helpers';

.user {
    width: 100%;

    .col {
        @include dFlex();
        @include flexRow();
        @include alignItemsCenter();

        .colText {
            @include hiddenOverflowText();

            margin-bottom: 0;
        }
    }

    .actions {
        @include dFlex();
        @include flexRow();
        @include justifyContentBetween();
    }
}
