@import 'tools/styles/flex';

.users {
    .create {
        @include dFlex();
        @include flexRow();
        @include justifyContentEnd();
    }

    .nobody {
        @include dFlex();
        @include flexRow();
        @include justifyContentCenter();
    }

    .pagination {
        margin-top: 20px;
    }
}
